<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perps Chatbot by JOMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <div class="main-container">
        <!-- New Top Section (10% vh) -->
        <div class="top-section">
            <div class="left-section">
                <img src="https://upload.wikimedia.org/wikipedia/en/2/2d/University_of_Perpetual_Help_System_DALTA_logo.png"
                     alt="Logo" class="logo">
                <div class="search-bar">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" placeholder="     Search...">
                </div>

            </div>

            <div class="icons">
                <span><i class="fa-solid fa-house"></i></span>
                <span><i class="fa-solid fa-video"></i></span>
                <span><i class="fa-solid fa-user-group"></i></span>
                <span><i class="fa-solid fa-gamepad"></i></span>
            </div>

            <div class="right-section">
                <button class="light-toggle"><i class="fa-solid fa-circle-half-stroke"></i></button>
                <img src="https://i.pinimg.com/736x/aa/11/a2/aa11a200501102f682df3e2904828cd8.jpg" alt="Profile" class="profile-pic">
            </div>
        </div>


        <div class="container">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">Chats</div>
            <div class="search-bar chat-src">
                <i class="fas fa-search search-icon"></i>
                <input type="text" placeholder="     Search...">
            </div>

            <div class="chats">
                <!-- Chat List -->
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/479549269_1155614869594466_6415274980147061210_n.jpg?stp=dst-jpg_p2048x2048_tt6&_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeF2s8u-cQxc6cRtR5clKs7OjStXkuEZyi-NK1eS4RnKL-snl_3R_QxtdrPWUBseyrkLXJarrEFYKtkz01PSNJ8y&_nc_ohc=Gvt8wQN8--gQ7kNvgGpN2bN&_nc_oc=Admfek_qDdrCXWAu2IBEIg68JFPYqoY6v4b1hVaRj4j_jPKjLreJqEtLebhj_fobGI0&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&oh=03_Q7cD1wGBneHKYGQoTy9C-_xfUC64wmLX5NMUOQxU6vv_Wd5Ggw&oe=680D4D85"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">Updates</div>
                        <div class="chat-item-message">Andrei: valo · 1h</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://jumpg-assets.tokyo-cdn.com/secure/title/100020/title_thumbnail_portrait_list/326439.jpg?hash=61qqSDl8HuepoLLvk4uBwQ&expires=2145884400"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">Artificial Intelligence || BS...</div>
                        <div class="chat-item-message">Val: unsint a message · 25m</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/486618471_654025020911433_4344003533277300591_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeHt17IqE35ubZZ0ebiQvdxLHAlroLtpYwkcCWugu2ljCeOaakk0IsvKxcDL0gwQbjjF-whrEW36KxFvV3iFR3X0&_nc_ohc=XvmZ41vNdiQQ7kNvgGTVdMX&_nc_oc=AdlvrJqgN0I_Uu9S3FI82RMA36XCRTF5MkcCQbJy7RsraT9YmQBBNhBAWTjRp3PMCBY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&oh=03_Q7cD1wFKB7m-mL2CrXqi41PZxxF8CTSvAIaWIfCUluL-vKRRzA&oe=680D1D39"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">CSE3 swimming</div>
                        <div class="chat-item-message">Josh: 🫦 · 1m</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t1.15752-9/480805517_1319367806007178_6613344954556106400_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGjdj4W1uAMzrpvPci14yhU3vTJ8D0qamve9MnwPSpqa0eEqFCkOntMXfW6YkNhnfcAo7WJzU3JjAyAUb2DWCpB&_nc_ohc=k3nKSE80wSsQ7kNvgHiF1kt&_nc_oc=Adn0EPK4dZ3dUZuKgyJiEXM6FNhPitYzl_6n44m_U2ZKBE2MIG7x2jwrepsRiIEjRJw&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&oh=03_Q7cD1wFRViKaddnUH6rZubhVlciPtW-ZZqLmzh-XLE-KbT_HfQ&oe=680D1CA8"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">Josh Khovic Fermano</div>
                        <div class="chat-item-message">Josh: patikim · just now</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/485227807_1361867611797148_1542545022163022076_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeH5UCCHrrCFZ2y_uHTTqZ7h7pFHMlkiLdPukUcyWSIt0xEk4WShG9fmCRaev_80XlpnDEeIltM4fjX47ccCWTuR&_nc_ohc=pDbBJ5BRR3YQ7kNvgHmleI5&_nc_oc=Adk2WD79P3flUk4FCNaB2V8I9pGOiCJH8fhaov89iqI2gW0xrZn3Yk6uNw7gPXZeEcM&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&oh=03_Q7cD1wG5ky2Z4mqx8PWuDcMMuZbFySZGQGMRPz_Euqyv9OvY-g&oe=680D2407"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">BSCS 3B</div>
                        <div class="chat-item-message">Chomi: aughh · 3h</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/486593426_3295204303954809_4585369762021843911_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeE2Z_FXeDZU1qLnbviXclQFCJiTDpS_unAImJMOlL-6cOrIeSo9qPYAVleXKxP85oPH-CbPwxkSCB6WCHJZFN-X&_nc_ohc=NsiMGHl0lgMQ7kNvgFgu9w5&_nc_oc=AdmHZR9-IoZd0xdBksdJX8IqyiTdID-pB1lUt3He9jK9TCx-_UR7J2sNUIyC9TGaLX4&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&oh=03_Q7cD1wHhkEWwiByYU3VSoiJnK0CbgwXiatjd3tohYi54Eapt5Q&oe=680D2557"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">bunni</div>
                        <div class="chat-item-message">nagkaon kana lab? · 55m</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t1.15752-9/485784713_565419835902991_3870838914758638270_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeH-SJm40aAN92CdyGAATZTUbX9C0u6gON9tf0LS7qA4362yLqaQFwlCTH9QHROHO07V5whddPiu0eWUifOZ9H3r&_nc_ohc=LpAXwb-eQM8Q7kNvgEghW0S&_nc_oc=Adk7rhw3UXDcriKUsoWSR4HCZ8-MsyguxFGFc0X8hpr20NTRnuhokhg35FMLynFqMDQ&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&oh=03_Q7cD1wEE3PVpR-I8BdQ-r0kzfabTfT0tAaX0FXazAPlwJVRNKQ&oe=680D3527"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">Monkey D. Luffy</div>
                        <div class="chat-item-message">Luffy: BAZOOKA! · 1m</div>
                    </div>
                </div>
                <div class="chat-item">
                    <img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t1.15752-9/485308490_1199332668230260_8985843274875101550_n.jpg?stp=dst-jpg_p2048x2048_tt6&_nc_cat=101&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEoOIUSbTqQ8VofswCz1Vw7f3aKGIafO51_dooYhp87nTxUS6DH6pEoEBA2KMSnyx_NGUcnRpOByqmxX0wVI15k&_nc_ohc=Jo82BLH_xFUQ7kNvgFZxR94&_nc_oc=AdmRcO3iEUZf0zyk4c6lzhHkSBycIIJETm0t6TWNebeLDGyyU4cSiqQor1yFmveNIfc&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&oh=03_Q7cD1wH8ZvoFkh3qDJnC4GMrx4EsVPFBygzVr6-_DzPOkPUDEQ&oe=680D3B9E"
                         alt="Profile" class="chat-item-image">
                    <div class="chat-item-content">
                        <div class="chat-item-name">Heisenberg</div>
                        <div class="chat-item-message">Mr White: Where's the money? · 10h</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chat Area -->
        <div class="chat-area">
            <!-- Top Bar -->
            <div class="overlay-chat">
                <div class="top-bar">
                    <img src="https://upload.wikimedia.org/wikipedia/en/2/2d/University_of_Perpetual_Help_System_DALTA_logo.png" alt="Profile" class="chat-item-image chat-image-perp">
                    <div class="chat-info">
                    <span class="chat-name">Perps</span>
                    <hr class="separator">
                    <div class="chat-item-message">Active now</div>
                </div>
                    <button class="clear-chat-btn" onclick="clearChat()">
                        <i class="fa-solid fa-trash"></i>
                    </button>
            </div>

                <!-- Chat Box -->
                <div class="chat-bg"></div>
                <div id="chat-box"></div>
                <!-- Input Box -->
                <div class="input-container">
                    <input type="text" id="user-input" placeholder="Ask a friendly perps..." onkeypress="handleKeyPress(event)">
                    <button class="send-chat-btn" type="button" onclick="sendMessage()">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
